/* Global Styles */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 5px solid #1098ad;
}

/* Heading Styles */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
}
h4 {
  font-size: 22px;
  text-align: center;
}

/* Paragraph Styles */
p {
  font-size: 18px;
  line-height: 1.5;
}

/* List Item Styles */
li {
  font-size: 18px;
}
li:first-child {
  font-weight: bold;
}
li:nth-child(2) {
  color: red;
}

/* Footer Styles */
footer p {
  font-size: 15px;
}

/* Class Styles */
.author {
  font-style: italic;
}
.copyright {
  font-size: 16px;
}
.related_author {
  font-weight: bold;
}
.unordered {
  list-style: none;
}

/* Header Styles */
.main-header {
  background-color: #f7f7f7;
}

/* Aside Styles */
aside {
  background-color: #f7f7f7a2;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* Link Styles */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: yellow;
}
a:hover {
  color: black;
}
a:active {
  color: red;
  font-weight: bold;
}
